
.no-margin {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Slab", serif;
  font-size: 1.125rem;
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

p {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
}

h1 {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 3.5rem;
  color: black;
}

.nav__menu ul {
  width: 100%;
  margin-top: 2.5rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.container {
  display: flex;
  align-items: stretch;
}

.main {
  width: 80%;
  padding: 2rem 3.5rem;
}

h2 {
  font-size: 1.5rem;
}

.sidebar {
  width: 60%;
  flex-basis: auto;
  min-height: calc(100vh - 10.5rem);
  min-width: 11.25rem;

  color: black;
  padding: 2rem 2.5rem;
}

.sidebar ul {
  margin-top: 1rem;
}